name: CI

on:
  push:
    branches:
      - main

jobs:
  lint:
    name: Lint
    runs-on: macos-15

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install SwiftLint
        run: |
          if ! command -v swiftlint >/dev/null 2>&1; then
            brew install swiftlint
          fi

      - name: Run SwiftLint
        run: swiftlint lint Spaceman --config .swiftlint.yml --reporter github-actions-logging --strict --no-cache
